<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Running Prediction</title>
</head>
<body>
    <h1>Running prediction</h1>
    <form action="", method="POST", enctype="multipart/form-data">
        <div>
            <img src="{{url_for('static', filename=image_name)}}" alt="">
        </div>
        <input type="submit" value="predict">
    </form>
    <a href="{{url_for('upload_image')}}">Back to Upload</a>
</body>
</html>